body {
    padding: 0.3em 0.4em;
    background: #4e4e4e;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

header {
    letter-spacing: 5px;
    color: white;
    background: #4e4e4e;
    border-bottom: solid 3px #3b3a3a;
}

header h3 {
    padding: 0.1em 0.2em;
    font-family: "Century";
    padding: 0em;;
}

.about-me {
    letter-spacing: 7px;
    text-align: center;
    position: relative;
    padding: 0 55px;
}

.about-me:before, .about-me:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: rgb(255, 0, 0);  
}

.about-me:before {
    left: 0;
}

.about-me:after {
    right: 0;
}

.my-hobby {
    letter-spacing: 7px;
    text-align: center;
    position: relative;
    padding: 0 55px;
}

.my-hobby:before, .my-hobby:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: rgb(255, 0, 0);  
}

.my-hobby:before {
    left: 0;
}

.my-hobby:after {
    right: 0;
}

.what-iam-doing {
    letter-spacing: 7px;
    text-align: center;
    position: relative;
    padding: 0 55px;
}

.what-iam-doing:before, .what-iam-doing:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: rgb(255, 0, 0);  
}

.what-iam-doing:before {
    left: 0;
}

.what-iam-doing:after {
    right: 0;
}

.github {
    color: #ffffff
}

.twitter {
    color: #0599fb
}

.instagram {
    color: #fb05c6
}

footer {
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ffffff;
    background: #4e4e4e;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.my-hobby ul {
    color: #000000;
    border: dashed 2px #668ad8;
    background: #f1f8ff;
    padding: 0.5em 0.5em 0.5em 2em;
}

.my-hobby ul li {
    line-height: 1.5;
    padding: 0.5em 0;
}

.what-iam-doing ul {
    padding: 0;
    position: relative;
}

.what-iam-doing ul li {
    color: #000000;
    background: whitesmoke;
    margin-bottom: 5px;
    line-height: 1.5;
    border-left: solid 8px rgb(255, 0, 0);
    border-radius: 0 15px 15px 0;
    padding: 0.5em;
    list-style-type: none!important;
}